In [ ]:
# while loops

In [2]:
# Print all integers from 0 to 5 (5 included)
number = 0
while(number <= 5) :
  print(number)
  number += 1

0
1
2
3
4
5

In [7]:
'''
Take an input from the user and print alternate numbers from from 1 to input.
Input will be a positive number > 1.

INPUT - 7
OUTPUT - 1 3 5 7
'''

10 3

In [22]:
number = int(input("Enter the number \n"))
i = 1
while i <= number:
  print(i, end=" ")
  i+= 2

Enter the number
7
1 3 5 7

In [26]:
'''
Take two inputs from user for start and end integer values.
Print every third number starting at start till end.
'''

start = int(input())
end = int(input())

while start <= end :
  print(start, end =" ")
  start += 3

3
20
3 6 9 12 15 18

In [30]:
start = int(input())
end = int(input())

if(start % 2 == 1):
  start += 1

while start <= end:
    if start % 2 == 0:
        print(start, end=" ")

    start += 2

3
18
4 6 8 10 12 14 16 18

In [ ]:
# for loops and range

In [33]:
type(range(2, 5))   # range(inclusive_start, exclusive_end)

range

In [37]:
for i in range(2, 5):
  print(i, end=" ")

2 3 4

In [38]:
range(8) # start is automatically set to 0 by default

range(0, 8)

In [39]:
range(1.7, 8.7)

TypeError: ignored

In [42]:
range(1, 8, 0.5)

TypeError: ignored

In [44]:
len(range(1, 8, 2))  # range(start, end, step_count)

4

In [45]:
for i in range(8, 2, -1):
    print(i)

8
7
6
5
4
3

In [46]:
for i in range(8, 2, 0):
    print(i)

ValueError: ignored

In [47]:
len(range(-2,7,-1))  # won't work as we are going forward

0

In [48]:
'''
Print all numbers from 1 to N using for loop.
Take N as input from the user.
'''

number = int(input())

for i in range(1, number + 1):
    print(i, end = " ")

5
1 2 3 4 5

In [ ]:
'''
Take N an input from the user.
Calculate the product of all numbers from 1 to N.
'''

In [51]:
N = int(input())
factorial = 1
for i in range(1, N+1):
  factorial = factorial*i
print(factorial)

5
120

In [52]:
N = int(input())
factorial = 1
for i in range(1, N+1):
  factorial = factorial*i
  print(factorial, end=" ")

5
1 2 6 24 120

In [54]:
'''
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

number = int(input())

even_product = 1

for i in range(2, number + 1,2):
    even_product *= i

print(even_product)

6
48

In [55]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

In [56]:
print(list(range(2,-10,1)))

[]

In [57]:
'''
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''
number = int(input())

for i in range(number, 0, -1):
    print(i, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [58]:
'''
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given
'''

n = int(input())

for i in range(1, n + 1):
    print(n - i + 1, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [64]:
name = "Tharun KAMA!"
# string is also an iterable in python just like range

for i in name:
    print(i, end=" ")

T h a r u n   K A M A !

In [72]:
x = bool(input()) # here 0 is a string

0

In [73]:
x

True

In [74]:
bool(0)

False

In [75]:
bool(int(input()))

0

False