In [1]:
a = [1,2,3]

In [4]:
b = a  # shallow copy on 1d
b

[1, 2, 3]

In [8]:
id(a), id(b)

(140131415487040, 140131415487040)

In [9]:
b[1] = 15

In [6]:
a, b

([1, 15, 3], [1, 15, 3])

In [13]:
a = [1, 2, 3]
b = a.copy()     # deep copy on 1D

In [17]:
a[0] = 7
a, b

([7, 2, 3], [1, 2, 3])

In [15]:
id(a), id(b)

(140130579568192, 140130810143424)

In [24]:
# Set = Unordered, removes duplicate

a = [1,4, 1,2, 2, 2, 2,2, 3, 8, 7,8, 8]
set_a = set(a)
print(set_a)

{1, 2, 3, 4, 7, 8}

In [25]:
5 not in [1,2,3,4,5]

False

In [26]:
def check_duplicates(a):
    unique = []

    for i in a:
        if i not in unique:
            unique.append(i)

    print(unique)
    if len(unique) == len(a):
        return False
    else:
        return True


check_duplicates([1,2,3,4,4,5,6])

[1, 2, 3, 4, 5, 6]

True

In [27]:
x = 10

def random():
    x = 5

    print(x)

    global x

    print(x)

SyntaxError: ignored

In [ ]:
# Tuples - immutable

In [28]:
a = (1, 2, 3, 4)
type(a)

tuple

In [29]:
a.append(5)

AttributeError: ignored

In [32]:
a[2] = 5

TypeError: ignored

In [33]:
a.remove(2)

AttributeError: ignored

In [34]:
a[2]  # 0 based indexing

3

In [35]:
a = (1,2,3,4,5,6,7,8,9,10)

In [36]:
a[2:8]  # slicing

(3, 4, 5, 6, 7, 8)

In [37]:
a[-2] # negative indexing

9

In [38]:
for i in a:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [41]:
a = ()
b = []
a, type(a), b, type(b)

((), tuple, [], list)

In [44]:
a = [1, 2, 3, 4]
t = tuple(a) # typecasting between a list and tuple is allowed

In [46]:
a, t

([1, 2, 3, 4], (1, 2, 3, 4))

In [49]:
t, type(t)

((1, 2, 3, 4), tuple)

In [50]:
l = list(t)
l, type(l)

([1, 2, 3, 4], list)

In [56]:
t1 = (1,2,3)
t2 = (4,5,6)

In [57]:
t1+t2  # tuple also supports concatenation

(1, 2, 3, 4, 5, 6)

In [58]:
4 + [1, 2, 3]

TypeError: ignored

In [61]:
(4) + (1, 2, 3)

TypeError: ignored

In [62]:
(4,) +(1, 2,3)

(4, 1, 2, 3)

In [63]:
type(("random"))

str

In [65]:
type(("random"), )

str

In [66]:
type((45))   # python is confused

int

In [68]:
type((45, ))

tuple

In [75]:
# PACKING AND UNPACKING

In [76]:
a = (1,2,3)

In [78]:
x, y, z = a

(1, 2, 3, (1, 2, 3))

In [79]:
x, y, z

(1, 2, 3)

In [80]:
x, y = (1,2,3)

ValueError: ignored

In [87]:
x, y, *rem = (1, 2, 3, 4, 5)
print(x)
print(y)
print(rem)

1
2
[3, 4, 5]

In [94]:
x, y = (1, 2, 3)[:2]
print(x)
print(y)       # we are slicing the tuple so that only first 2 values can be assigned

1
2

In [98]:
a, b = (1, 2, 3, 4, 5)[2:4]

In [96]:
a, b

(3, 4)

In [99]:
w, x, y, z = (1,2,3)

ValueError: ignored

In [100]:
def foo():
    return 100, 200, 300 # return multiple values from a function

a = foo()

In [101]:
a

(100, 200, 300)

In [102]:
x, y, z = foo() # both packing and unpacking working together

In [103]:
x,y, z

(100, 200, 300)

In [104]:
a = 5
b = 10
a, b = b, a

In [105]:
a, b

(10, 5)

In [107]:
a = "a", "b", "c"
a, type(a)

(('a', 'b', 'c'), tuple)

In [108]:
a = ("string", 67, 89.7, True,)         # TUPLES ARE ALSO HETEROGENEOUS
print(a)

('string', 67, 89.7, True)

In [ ]:
# SETS

In [109]:
a = {1,2,3,3,3,3,3,3,4,5,5,6,1,1,2,7,8,8,8,8,8}

In [110]:
a[0] # indexing is not available for python sets

TypeError: ignored

In [111]:
a = {}
type(a)

dict

In [ ]:
a = set() # this is the way to create an empty set in python

In [114]:
a = {4,3,2,1, 1, 1,7}

In [115]:
a # seems like sets are present in an ascending order in python

{1, 2, 3, 4, 7}

In [116]:
a.add(6)

In [117]:
a.remove(3)

In [118]:
a

{1, 2, 4, 6, 7}

In [121]:
a = {1,2}

In [122]:
a.update([1,2,3,4,5,6]) # add multiple elements at once

In [123]:
a

{1, 2, 3, 4, 5, 6}

In [124]:
a.update((7,8,9))

In [125]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
a = "this is a random string!"
set(a)

{' ', '!', 'a', 'd', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 's', 't'}

In [127]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}
s1.intersection(s2)

{2, 4}

In [128]:
s1 & s2

{2, 4}

In [129]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [130]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [131]:
s1.difference(s2)  # s1 element not present in s2

{3}

In [133]:
s1 - s2

{3}

In [134]:
s1.symmetric_difference(s2)  # elements not present in both sets

{1, 3, 5, 6}

In [136]:
s1 ^ s2

{1, 3, 5, 6}

In [137]:
list = "something"

a = list((1,2,3))    # list is overwritten

TypeError: ignored

In [ ]:
# Dictionaries

In [ ]:
a = {
    "tag1" : "value1",
    "tag2" : "value2"
}

In [138]:
# Approach 1 -> List of tuples
state_wise_data = [("Delhi", 20), ("Haryana", 35), ("UP", 100)]

In [139]:
state_wise_data[2]

('UP', 100)

In [141]:
# Approach 2 -> Dictionary
state_wise_data = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

state_wise_data["Delhi"]

20

In [142]:
state_wise_data[0] # numerical indexes do not exist in a dictionary

KeyError: ignored

In [145]:
state_wise_data.Delhi # does not work

AttributeError: ignored

In [146]:
state_wise_data

{'Delhi': 20, 'Haryana': 35, 'UP': 100}

In [ ]:
'''
Before Python 3.7 -> Dictionaries were unordered.
After Python 3.7 -> Dictionaries are ordered internally but still not indexable using 0 based indexing.
'''

In [148]:
a = {}

In [149]:
type(a)

dict

In [151]:

a = {
    "Delhi": 20,
    "Haryana": 35,
    "UP": 100
}

In [152]:
a["Haryana"]  = 40

In [153]:
a

{'Delhi': 20, 'Haryana': 40, 'UP': 100}

In [154]:
a["Punjab"]  = 25    # if not existed , it is then created

In [155]:
a

{'Delhi': 20, 'Haryana': 40, 'UP': 100, 'Punjab': 25}

In [ ]:
# Heterogeneity in a dictionary
# Keys -> Strings
# VALUES -> We can have any python object

In [156]:
Avenger = {
    "name" : "Thor",
    "age" : 1500,
    "weapon" : ["stormbreaker", "mjolnir"]
}

In [ ]:
# adding values and updating values together

In [172]:
Avenger.update({
    "name" : "Thor Odinson",
    "weapon" : ["stormbreaker"],
    "strongest?" : True,
    "eyes" : 1
})

In [158]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [159]:
random = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d" : None
}

In [160]:
random["b"]

2

In [161]:
random["e"]     # key error if not present

KeyError: ignored

In [162]:
result = random.get("e")
print(result)    # doesn't throw error if not present

None

In [164]:
result = random.get("e", "Not Found!")
# This default value will be returned in case the key is not present

print(result)

Not Found!

In [173]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker'],
 'strongest?': True,
 'eyes': 1}

In [174]:
Avenger['weapon'].append('mjolnir')

In [175]:
Avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['stormbreaker', 'mjolnir'],
 'strongest?': True,
 'eyes': 1}

In [176]:
random

{'a': 1, 'b': 2, 'c': 3, 'd': None}

In [177]:
random.pop('d')

In [178]:
random

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# KEYS DICTIONARY ARE SUPPOSED TO BE UNIQUE

In [179]:
random

{'a': 1, 'b': 2, 'c': 3}

In [180]:
random.pop()

TypeError: ignored

In [181]:
A = {
    "a" : 4,
    "b" : 5,
    "c" : 6
}

B = {
    "b" : 1,
    "d" : 20
}

A.update(B)

In [182]:
A

{'a': 4, 'b': 1, 'c': 6, 'd': 20}

In [ ]:
# ITERATION IN A DICTIONARY

In [183]:
a = Avenger

In [184]:
for i in a: # traversal over the keys
    print(i)

name
age
weapon
strongest?
eyes

In [185]:
for i in a: # traversal over the values
    print(a[i])

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [186]:
for i in a: # traveral over the entire key value pair
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['stormbreaker', 'mjolnir']
strongest? -> True
eyes -> 1

In [187]:
for i in a.keys():
    print(i)

name
age
weapon
strongest?
eyes

In [188]:
for i in a.values():
    print(i)

Thor Odinson
1500
['stormbreaker', 'mjolnir']
True
1

In [189]:
for i in a.items():
    print(i)

('name', 'Thor Odinson')
('age', 1500)
('weapon', ['stormbreaker', 'mjolnir'])
('strongest?', True)
('eyes', 1)

In [190]:
for key, value in a.items():
  print(f" key is {key} and the value is {value}")

 key is name and the value is Thor Odinson
 key is age and the value is 1500
 key is weapon and the value is ['stormbreaker', 'mjolnir']
 key is strongest? and the value is True
 key is eyes and the value is 1

In [191]:
"battle" in a.keys()

False

In [192]:
"eyes" in a.keys()

True

In [ ]:
# Mutable (Can be changed) -> Lists, Sets and Dictionaries
# Immutable (Can't be changed) -> Int, Float, Boolean, String, Tuples

In [ ]:
{
    "keys -> ANY IMMUTABLE DATA STRUCTURE": "values -> ANY MUTABLE OR IMMUNTABLE DATA STRUCTURE"
}

In [194]:
random = {
    "key1" : [4,45,67],
    "key2" : {
        (1,2,3): 45
    },
    45: "value3",
    45.67: "value4",
    True: "value5"
}

In [195]:
random = {
    "key1" : [4,45,67],
    "key2" : {
        (1,2,3): 45
    },
    45: "value3",
    45.67: "value4",
    True: "value5",
    [6,7,8]: "value6"
}

TypeError: ignored

In [196]:
a = {
    "a": 1,
    "b": 2
}

type(a)

dict

In [197]:
tuple(a)

('a', 'b')

In [201]:
a = [("a", 1), ("b", 2)]
dict(a)

{'a': 1, 'b': 2}

In [203]:
a = (1,2,3)

In [204]:
dict(a)

TypeError: ignored

In [205]:
z = [('a', 2), ('b', 4)]
dict(z)

{'a': 2, 'b': 4}

In [207]:
k = (['a', 4], ['m', 2])
dict(k)

{'a': 4, 'm': 2}