In [1]:
type(None)

NoneType

In [2]:
print("A", "B")

A B

In [5]:
print("A", "B", sep = " ")

A B

In [7]:
print("A", "B", sep="\t")

A	B

In [ ]:
# control flow

In [8]:
if 50 < 60 :
  print("60 is greater")
else:
  print("50 is greater")

60 is greater

In [ ]:
# These lines will always run

if True:
    # These lines will run if condition is True
    # Statement 2
    # Statement 3
else:
    # These lines will run if condition is False
    # Statement 2
    # Statement 3

# These lines will always run

In [16]:
n = int(input())
result = n ** 3
if (result > 50):
  print("result is greater", result, sep=" : ")
else:
  print("result is smaller")

6
result is greater : 216

In [ ]:
'''
1. Take Password Input as User
2. Take another input to verify password
3. If both inputs are same -> "Password matched!",
otherwise "Password mismatch. Check Again."
'''

In [18]:
password = input("Enter your password")
verify_password = input("Enter your password")

if password == verify_password:
  print("password is correct")
else:
  print("incorrect password")

hi
hi
password is correct

In [ ]:
number = int(input())

if number >= 0:
    print("Positive")
else:
    print("Negative")

In [ ]:
'''
Take in a string as input and if the entered language is "Python",
print("Great Choice") else print("Think Again?")
'''

In [21]:
language = input()

if language == "Python":
  print("Great Choice")
else:
  print("Think again!")

asdf
Think again!

In [22]:
feedback = input()

if feedback == "":
    print("Please provide feedback the next time!")
else:
    if feedback.lower()  == "super" or feedback.lower() == "awesome":
        print("Thank you so much!")
    else:
        print("Thank you for providing feedback!")

Please provide feedback the next time!

In [23]:
n = int(input())

if n % 3 == 0 and n % 5 == 0:
    print("FIZZBUZZ")
elif n % 5 == 0:
    print("BUZZ")
elif n % 3 == 0:
    print("FIZZ")
else:
    print("")

10
BUZZ

In [24]:
a = 50
if a > 40:
    print("A")
if a > 30:
    print("B")
if a > 20:
    print("C")

A
B
C

In [ ]:
'''
Take in three inputs from a user which are marksin english, maths and science.
Assign streams according to the following criteria.
- if science > 90 or marks in all are greater than 75 -> Science
- if marks in all are greater than 60 and less than 75 -> Commerce
- if marks in any are less than 60 -> Humanities
'''

In [25]:
science = int(input("Marks in Science - "))
maths = int(input("Marks in Maths - "))
english = int(input("Marks in English - "))

if science > 90 or (science > 75 and maths > 75 and english > 75):
    print("Science")
elif science > 60 and maths > 60 and english > 60:
    print("Commerce")
else:
    print("Humanities")

Marks in Science - 70
Marks in Maths - 90
Marks in English - 34
Humanities

In [26]:
True and False or True and True
# False or True and True
# False or True
# True

True

In [27]:
True and True and False and True

False

In [28]:
0 and True

0

In [29]:
print(True and 1 or 0 and True)

1

In [30]:
bool(-34567876543)

True

In [31]:
bool(23567876543)

True

In [ ]:
if 0:
    print("A")