In [ ]:
# 2D Lists

In [ ]:
'''
Rotate a given list by 1 element.

INPUT - [1,2,3,4,5]
OUTUT - [5,1,2,3,4]
'''

In [1]:
a = [1,2,3,4,5]

In [3]:
def solution_1(a):
    last_element = a[-1]
    initial_elements = a[:len(a) - 1]

    result = [last_element] + initial_elements

    return result

solution_1(a)

[5, 1, 2, 3, 4]

In [6]:
def solution_2(a):
  return [a[-1]] + a[:len(a)-1]   # here we are wrapping coz a[-1] is int not a list

solution_2(a)

[5, 1, 2, 3, 4]

In [7]:
5 + [1,2,3,4]

TypeError: ignored

In [8]:
a.index(5)

4

In [9]:
a.index(100)

ValueError: ignored

In [10]:
a = [1,1,2,3,4,5,6,6,6,6,6]
a.count(6)

5

In [14]:
a = [[1,2,3], [4,5,6], [7,8,9]]
a[2][2] # indexing in a 2D list

9

In [15]:
a = [[1,2], [1,2,3,4], [1,2,3,4,5]]
a[2][3]

4

In [ ]:
# Matrices

In [16]:
a = [[1,2,3], [4,5,6], [7,8,9]]

In [17]:
rows = len(a)
columns = len(a[0])

In [18]:
for i in range(rows):
    for j in range(columns):
        print(a[i][j], end = " ")

    print()

1 2 3
4 5 6
7 8 9

In [19]:
matrix = []

for i in range(3):
    row = []

    for j in range(3):
        row.append(int(input()))

    matrix.append(row)

1
2
3
4
5
6
7
8
9

In [20]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
def sum_all_elements(matrix):
    sum_all = 0

    for i in matrix:
        for j in i:
            sum_all += j

    return sum_all


sum_all_elements(matrix)

45

In [22]:
def sum_each_row(matrix):
    rows = len(matrix)
    columns = len(matrix[0])

    for i in range(rows):
        sum_row = 0

        for j in range(columns):
            sum_row += matrix[i][j]

        print("Sum of row", i, "=", sum_row)

sum_each_row(matrix)

Sum of row 0 = 6
Sum of row 1 = 15
Sum of row 2 = 24

In [23]:
def sum_each_column(matrix):
    rows = len(matrix)
    columns = len(matrix[0])

    for i in range(rows):
        sum_column = 0

        for j in range(columns):
            sum_column += matrix[j][i]

        print("Sum of column", i, "=", sum_column)

sum_each_column(matrix)

Sum of column 0 = 12
Sum of column 1 = 15
Sum of column 2 = 18